# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environnements
.env
venv/
env/

# Données / modèles lourds (dans chaque projet)
models/
results/
data/
datasets/
*.pth
*.pt
*.h5
*.ckpt

